<ng-container *ngIf="!isEdit">
  <ng-container *ngIf="artist$ | async as artist">

    <!-- <app-artist-profile [artist]="artist"></app-artist-profile> -->

    <button class="btn btn-primary" (click)="isEdit = true">edit</button>
    <h2>{{artist.name}}</h2>
    <img [src]="artist.img | imageUrl" />

  </ng-container>
</ng-container>

<ng-container *ngIf="isEdit">

  <button class="btn btn-default" (click)="isEdit = false">cancel</button>

  <form [formGroup]="artistForm">

    <input type="hidden" formControlName="id">

    <label>
      Name:
      <input type="text" formControlName="name">
    </label>

    <label>
      Image:
      <input type="text" formControlName="img">
    </label>

    <button class="btn btn-primary" (click)="save()">SAVE</button>
  </form>

</ng-container>

<h3>Songs:</h3>

<div *ngFor="let song of songs$ | async">
  <a [routerLink]="['song', song.id]" routerLinkActive="active">{{song.title}}</a>
</div>

<router-outlet></router-outlet>
